.header-cell {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .matrix-table {
    color: black;
  }
  
  .data-cell {
    padding: 10px;
    text-align: center;
  }